body {
    background-image: url(../images/trivia-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: auto
}
p {
    font-size: 50px;
}
h4 {
    border: solid 1px;
}
h4:hover {
    background-color: purple;

}